{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mb-5">
  <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-12 border p-4">
        <h1>{% trans "Sign In" %}</h1>
        <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy | safe }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-light" type="submit">{% trans "Sign In" %}</button>
        <a class=“btn btn-light” href=“{{request.META.HTTP_REFERER|escape}}“>Back</a>
        </form>
      </div>
  </div>
</div>

{% endblock %}