@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}


/* Navbar and logo */
.navbar-nav .nav-item .nav-link {
    color: #af8e38;
    font-size: 1.3vw;
 }

 .menu-item a:hover {
    border-bottom: 1px solid #af8e38;
}

.logo-top {
    /*display: block;*/
    max-width: 20%;
    height: auto;
}

/* Hamburger icon for colapsable menu */
.fa-bars {
    color: #af8e38;
    font-size: 200%;
}


/* Hero Jumbotron, inspired by searching on Codepen */

.jumbotron {
    color: #af8e38;
    background-image: url("../images/home-hero-image-1280.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
  }

.container {
    vertical-align: top;
    margin-top: -4vh;
}

/* Home page header css */

.header {
    vertical-align: top;
    margin-top: -10vh;
    font-size: 260%;
}

/* Home page subheader css */

.subheader {
    color: #ffffff;
    font-size: 100%;
    margin-top: -2vh;
}

/* Home page content header css */

.content-header {
    color:#af8e38;
    font-size: 140%;
    margin-bottom: 16px;
}

/* Home page content css */

.home-content {
    font-size: 1.2vw;
    margin-bottom: 16px;
}

/* Footer css */

footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #D1AA91;
}

.social-networks {
    text-align: center;
    padding: 0;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 60px;
    color: white;
}

/* Blog images */

.blog-picture {
    width: 100%;
}

/* Blog link */

.blog-link {
    color: #af8e38;
}

/* Blog header */

.blog-header {
    color: #af8e38;
}

.blog-header a {
    color: #3a3a3a;
}

/* Blog post */

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.post-title {
    margin-top: 15%;
    margin-left: 7%;
}

.blog-post-head {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.blog-post-head-text {
    background-color: #D1AA91;
    color: white;
    position: relative;
}

.post-details {
    margin-left: 7%;
    color: white;
}

.blog-post-head-image {
    background-color: #D1AA91;
    position: relative;
    overflow: hidden;
}

.edit-icon {
    color: #D1AA91;
}

.delete-icon {
    color: #D1AA91;
}