@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}


/* Navbar and logo */
.navbar-nav .nav-item .nav-link {
    color: #af8e38;
    font-size: 1.3vw;
 }

 .menu-item a:hover {
    border-bottom: 1px solid #af8e38;
}

.logo-top {
    /*display: block;*/
    max-width: 20%;
    height: auto;
}

/* Hamburger icon for colapsable menu */
.fa-bars {
    color: #af8e38;
    font-size: 200%;
}


/* Hero Jumbotron, inspired by searching on Codepen */

.jumbotron-home {
    color: #D1AA91;
    background-image: url("https://res.cloudinary.com/dwqs3wssj/image/upload/v1672302979/static/images/home-hero-image-1280.13ed2cbfe294.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
  }

.container-home {
    vertical-align: top;
    margin-top: -2vh;
}

/* Home page header css */

.header {
    vertical-align: top;
    margin-top: -10vh;
    font-size: 4.2vw;
}

/* Home page subheader css */

.subheader {
    color: #ffffff;
    font-size: 100%;
    margin-top: -2vh;
}

/* Home page content header css */

.content-header {
    color:#D1AA91;
    font-size: 1.8vw;
    margin-bottom: 16px;
}

/* Home page content css */

.home-content {
    font-size: 1.2vw;
    margin-bottom: 16px;
}

/* Footer css */

footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #D1AA91;
    margin: 0;
}

.social-networks {
    text-align: center;
    padding: 0;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 60px;
    color: white;
}

/* Classes Hero image css */

.jumbotron-classes {
    background-image: url("https://res.cloudinary.com/dwqs3wssj/image/upload/v1672302975/static/images/classes-hero-image-1920.401e8aeeee60.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Classes header css */

.header-classes {
    color: #D1AA91;
    vertical-align: top;
    font-size: 4.2vw;
}

/* Classes page content css */

.classes-content {
    font-size: 1.2vw;
    margin-bottom: 16px;
}

.header-yoga-classes {
    color:#D1AA91;
    font-size: 2vw;
    margin-bottom: 16px;
    margin-top: 0;
}

.header-meditation-classes {
    color:#D1AA91;
    font-size: 2vw;
    margin-bottom: 16px;
    margin-top: 16px;
}

/* Time table css */

.table {
    width: 80%;
    margin-bottom: 1rem;
    color: #212529;
    margin: 16px auto;
}

.table-responsive {
    width: 80%;
    text-align: center;
    margin: 16px auto;
}

/* Table css used from Milestone P1 */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(148, 170, 211, 0.4);
}

th:nth-child(even),
td:nth-child(even) {
    background-color: rgb(148, 170, 211, 0.4);
}

table {
    width: 100%;
    font-size: 1vw;
    background-color: white;
}

th {
    height: 40px;
}

tr {
    height: 30px;
}

/* Contact Hero image css */

.jumbotron-contact {
    background-image: url("https://res.cloudinary.com/dwqs3wssj/image/upload/v1672302978/static/images/contact-hero-image-1920.fcb31c8192cd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Contact us header css */

.container-contacts {
    vertical-align: top;
    margin-top: -2vh;
}

.header-contact {
    color: #D1AA91;
    vertical-align: top;
    font-size: 4.2vw;
}

.content-contact {
    font-size: 1.4vw;
    margin-bottom: 30px;
}

/* Contact us css */

.contact-list {
    list-style-type: none;
}

.h3-contact {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 0;
}

.p-contact {
    font-size: 1vw;
    margin: 0;
}

/* Blog images */

.blog-picture {
    width: 100%;
}

/* Blog link */

.blog-link {
    color: #af8e38;
}

/* Blog header */

.blog-header {
    color: #af8e38;
}

.blog-header a {
    color: #3a3a3a;
}

/* Blog post */

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.post-title {
    margin-top: 6%;
    margin-left: 6%;
    font-size: 1.8vw;
}

.blog-post-head {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.blog-post-head-text {
    background-color: #D1AA91;
    color: white;
    position: relative;
}

.blog-post-head-image {
    background-color: #D1AA91;
    position: relative;
    overflow: hidden;
}

/* Post details css */

.post-details {
    margin-left: 7%;
    color: white;
}

.edit-icon {
    color: #D1AA91;
}

.delete-icon {
    color: #D1AA91;
}