{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-classes jumbotron-fluid">
    <img id="classes-hero-image">
</div>

<!-- about our classes section -->

<div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h1 class="header-classes text-center">OUR CLASSES</h1>
            <h2 class="content-header text-center">CHOOSE THE ONE THAT BETTER FITS YOU</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="classes-content col-md-5">
            <p>We offer to our students the possibility to choose between private sessions or group classes. Whatever
                makes them feel more comfortable with.</p>
            <br>
            <p>All our private sessions are created thinking specifically to fit the physical and mental needs and
                desires of our students. So, don't worry if you have any restrictions or if you think yoga is not for
                you. Our instructors will be ready to support you and help you to challenge yourself at every session,
                guiding you and assisting you so you don't feel overwhelmed, and take from your session, all the
                benefits that are expected.</p>
            <br>
            <p>It doesn't matter if it's to meditate or to give your physical body that extra energy, all our group
                classes are built for a maximum of 10 participants, so all our students can receive the proper attention
                from our instructors.</p>
            <br>
            <p>All our group classes have a duration of 50 minutes. During this period of time, our students can enjoy a
                very welcoming environment, work their bodies and minds, and also enjoy, afterwards, all the benefits
                that yoga and meditation bring to them.</p>
        </div>
    </div>
</div>

<!-- time table section -->

<section>
    <div>
        <div class="table-responsive classes">
            <h2 class="header-yoga-classes text-center">YOGA CLASSES</h2>
            <br>
            <table class="table">

                <tr>
                    <th></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>7:00</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                </tr>

                <tr>
                    <td>8:30</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                </tr>

                <tr>
                    <td>10:00</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                </tr>

                <tr>
                    <td>11:30</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>15:00</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                </tr>

                <tr>
                    <td>16:30</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                </tr>

                <tr>
                    <td>18:00</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                </tr>

                <tr>
                    <td>19:30</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                </tr>

            </table>
                            
        </div>

        <div class="table-responsive classes">
            <h2 class="header-meditation-classes text-center">MEDITATION GROUPS</h2>
            <br>                
            <table class="table">
                <tr>
                    <th></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>7:00</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                </tr>

                <tr>
                    <td>10:00</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Focused</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>15:00</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                </tr>

                <tr>
                    <td>18:00</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                </tr>

                <tr>
                    <td>19:30</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Focused</td>
                </tr>
            </table>
        </div>
    </div>
</section>
{%endblock%}