{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-classes jumbotron-fluid">
    <img id="classes-hero-image" src="/static/images/classes-hero-image-1920.png"
        alt="Images of women practicing yoga">
</div>


<!-- about our classes section -->

<section id="about-our-classes">
    <div class="choose-your-class">
        <h1>Our Classes</h1>
        <h2>Choose the one that better fits you</h2>
        <br>
        <p>We offer to our students the possibility to choose between private sessions or group classes. Whatever
            makes them feel more comfortable with.</p>
        <br>
        <p>All our private sessions are created thinking specifically to fit the physical and mental needs and
            desires of our students. So, don't worry if you have any restrictions or if you think yoga is not for
            you. Our instructors will be ready to support you and help you to challenge yourself at every session,
            guiding you and assisting you so you don't feel overwhelmed, and take from your session, all the
            benefits that are expected.</p>
        <br>
        <p>It doesn't matter if it's to meditate or to give your physical body that extra energy, all our group
            classes are built for a maximum of 10 participants, so all our students can receive the proper attention
            from our instructors.</p>
        <br>
        <p>All our group classes have a duration of 50 minutes. During this period of time, our students can enjoy a
            very welcoming environment, work their bodies and minds, and also enjoy, afterwards, all the benefits
            that yoga and meditation bring to them.</p>
    </div>
</section>

<!-- time table section -->

<section id="time-section">
    <div id="time-section-content">
        <div id="time-yoga-classes" class="classes">
            <h2 id="yoga-classes-header">Yoga Classes</h2>
            <br>
            <table id="yoga-hours">

                <tr>
                    <th></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>7:00</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                </tr>

                <tr>
                    <td>8:30</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                </tr>

                <tr>
                    <td>10:00</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                </tr>

                <tr>
                    <td>11:30</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>15:00</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                </tr>

                <tr>
                    <td>16:30</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                </tr>

                <tr>
                    <td>18:00</td>
                    <td>Hatha 3</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                </tr>

                <tr>
                    <td>19:30</td>
                    <td>Vinyasa 2</td>
                    <td>Hatha 1</td>
                    <td>Vinyasa 3</td>
                    <td>Hatha 2</td>
                    <td>Vinyasa 1</td>
                    <td>Hatha 3</td>
                </tr>

            </table>
                            
        </div>

        <div id="time-meditation-groups" class="classes">
            <h2 id="meditation-classes-header">Meditation Groups</h2>
            <br>                
            <table id="meditation-hours">
                <tr>
                    <th></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>7:00</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                </tr>

                <tr>
                    <td>10:00</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Focused</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>15:00</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                </tr>

                <tr>
                    <td>18:00</td>
                    <td>Noting</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                </tr>

                <tr>
                    <td>19:30</td>
                    <td>Focused</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Mantra</td>
                    <td>Noting</td>
                    <td>Focused</td>
                </tr>
            </table>

            <h2 id="choose-your-class">would like to book your trial class?</h2>
            <br>
            <p>Fill out the form on our<span><a href="contact.html"> Contact Page</span></a> or just call us directly.</p>
            <br>
            <p>We will be happy to answer any question you might have regarding Yoga, Meditation or our classes schedule.</p>

        </div>
    </div>
</section>
{%endblock%}