{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-contact jumbotron-fluid">
    <img>
</div>

<div>
    <h1 class="header-contact text-center">CONTACT US</h1>
    <h2 class="content-header text-center">CALL US, SEND US AN EMAIL OR JUST PASS BY</h2>
</div>
<br>
<div>            
    <div class="contact-details">
        <ul class="d-flex justify-content-between">
            <li>
                <h3 class="h3">Phone</h3>
                <p class="h4">+43 660 362-2708</p>
            </li>

            <li>
                <h3 class="h3">Email</h3>
                <p class="h4">angelicaguimaraes76@gmail.com</p>
            </li>                    

            <li>
                <h3 class="h3">Address</h3>
                <p class="h4">Krotenthallergasse 4/9</p>
                <p class="h4">1080 Vienna</p>
                <p class="h4">Austria</p>
            </li>
        </ul>
    </div>

    <div class="selector-for-some-widget text-center">
        <iframe id="gmap" title="Magnolia Tree Location"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2658.7260892188497!2d16.34422061490564!3d48.21189165396232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07ea37303f8f%3A0x84bb515558bf2c9b!2sKrotenthallergasse%204%2C%201080%20Wien!5e0!3m2!1sen!2sat!4v1653642736995!5m2!1sen!2sat"
            ></iframe>
    </div>
</div>
{%endblock%}