{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-contact jumbotron-fluid">
    <img>
</div>

<div>
    <h1 class="header-contact text-center">CONTACT US</h1>
    <h2 class="content-header text-center">CALL US, SEND US AN EMAIL OR JUST PASS BY</h2>
</div>
<br>
<div>            
    <div class="contact-details">
        <ul class="d-flex justify-content-between">
            <li>
                <h3 class="h3">Phone</h3>
                <p class="h4">+43 660 362-2708</p>
            </li>

            <li>
                <h3 class="h3">Email</h3>
                <p class="h4">angelicaguimaraes76@gmail.com</p>
            </li>                    

            <li>
                <h3 class="h3">Address</h3>
                <p class="h4">Krotenthallergasse 4/9</p>
                <p class="h4">1080 Vienna</p>
                <p class="h4">Austria</p>
            </li>
        </ul>
    </div>
</div>
{%endblock%}