{% extends 'base.html' %}
{% block content %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}
<div class="container mb-5 col-5">
    {% if user.is_authenticated %}
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {{ form | crispy | safe }}
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Submit</button>
                <a class="btn btn-light" href="{{request.META.HTTP_REFERER|escape}}">Back</a>
            </form>
        </div>
    </div>
    {% else %}
    <div class="card">
        <div class="card-body text-center">
            <h4>You need to log in to create a blogpost</h4>
        </div>
    </div>
    {% endif %}
</div>
{%endblock%}