{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Magnolia Tree</h1>
    </div>
</div>
<div class="col">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h2>YOUR BODY AND MIND IN PERFECT CONNECTION</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <p>Magnolia Tree is a yoga studio for anyone who is ready to relax, work hard, laugh or let go. We believe that yoga is for everyone regardless of age and body type. Whether you can touch your toes or not, Magnolia Tree welcomes you and we open our doors and our hearts to helping you challenge your physical body and mind.</p>
            <p>We are a studio that offers Hatha and Vinyasa yoga classes in most levels. Their formats tap into static/still postures with longer holds between each posture. This can provide the student an opportunity to move deeper into their internal reflection. Regardless of the format, our classes will provide you an experience that leaves you feeling energized and uplifted.</p>
            <p>Our mission is to provide a genuine and sustainable yoga practice that will continue to evolve the physical and emotional health of our students. We are proud of the individual attention that our students receive. Our instructors are passionate about teaching and are always willing to take that extra step to ensure that no student feels left behind.</p>
            <p>And if you're ready to have your socks knocked off, check out the prints that are currently available.</p>
        </div>
    </div>
</div>
{%endblock%}